
#mynavbar ul li a {
  color: #333333;
  font-weight: bold;
  font-size: large;
}



.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section h2.section-head {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}
.section a{
  text-decoration: none;
}

.section h2.section-head:after {
  content: "";
  background: #e74c3c;
  display: block;
  width: 100px;
  height: 3px;
  margin: 20px auto;
}

/* signup portion */

.alumni-form {
  background: linear-gradient(135deg, #c6ccd159 0%, #bba3a3 100%);
  /* Light blue gradient */
  padding: 0px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #bba3a3;
  border-radius: 5px;
  justify-items: center;
  margin-bottom: 0px;
}

/* Styling the form title */
.alumni-form h2 {
  color: #0000ff;/* Blue title */
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}
.signup-card {
  position: relative;
  border-radius: 16px;
  padding: 5px; /* space for border */
  display: inline-block;
}

/* Animated Gradient Border */
.signup-card::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 20px;
  background: linear-gradient(135deg, #6a11cb, #2575fc, #00c6ff);
  background-size: 300% 300%;
  animation: gradientMove 6s infinite alternate;
  z-index: -1;
}

@keyframes gradientMove {
  0% { background-position: left top; }
  100% { background-position: right bottom; }
}

.alert-popup {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    min-width: 350px;
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}
.alert-popup.show {
    opacity: 1;
    visibility: visible;
}


/* Styling labels */
.alumni-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}

/* login start here */
.card {
  background-color: #2a8859;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(175, 118, 118, 0.2);
  border: 10 solid #000;
}

.tab-button {
  border-radius: 20px 20px 0 0;
  color: #555;
}

.tab-button.active {
  background-color: #6f42c1 !important;
  color: #fff !important;
  font-weight: bold;
}

.form-control:focus {
  box-shadow: none;
  border-color: #601bdf;
}

.btn-custom {
  background: #6f42c1;
  color: white;
  border-radius: 50px;
}

.btn-custom:hover {
  background: #563d7c;
}

.login-container {
  min-height: calc(100vh - 180px);
  /* Adjust for navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* alumni */
@media (max-width: 768px){
  .alumni{
margin-bottom: 20px;
  }
}

#alumni-image{
  width: 350px; 
  height: 350px;
  object-fit: cover;
}

